div.right-footer {
	position: absolute;
	width: 100px;
	height: 150px;
	background: #E6E6F2;
	right: -100px;
	bottom: -150px;
}
div.left-footer {
	position: absolute;
	width: 100px;
	height: 150px;
	background: #E6E6F2;
	left: -100px;
	bottom: -150px;
}
div.right_nav,div.left_nav {
	position: fixed;
	width: 100px;
	height: 216px;
	background: #E6E6F2;
	border: 6px solid #FCFCFC;
	display: table-cell;
	vertical-align: middle;

}
div.container {
	width: 65%;
}
div.right_control {
	font-size: 16px;	
	text-align: center;
    width: 100px;
    height: 100%;
    background: #E6E6F2;
	position: absolute;
    list-style-type:none;
	top: 0px;
	right: -100px;
}
div.left_control {
	text-align: center;
	font-size: 16px;
    width: 100px;
    height: 100%;
    background: #E6E6F2;
    position: absolute;
    list-style-type:none;
	left: -100px;
	top: 0px;
} 
div.container.footer {
	background: #E6E6F2;
	text-align: center;
	position: absolute;
	width: 100%;
	height: 150px;
	left: 0px;
	bottom: -150px;
}

@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_379834_3z2wrgps4ua3jtt9.eot?t=1502428565247'); /* IE9*/
  src: url('//at.alicdn.com/t/font_379834_3z2wrgps4ua3jtt9.eot?t=1502428565247#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_379834_3z2wrgps4ua3jtt9.woff?t=1502428565247') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_379834_3z2wrgps4ua3jtt9.ttf?t=1502428565247') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_379834_3z2wrgps4ua3jtt9.svg?t=1502428565247#iconfont') format('svg'); /* iOS 4.1- */
  }

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  margin-left: 50px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a.iconfont.icon-iconfontyoujian {
	margin-left: 0px
}

.icon-dianzan1:before { content: "\e60e"; }

.icon-dianzan3:before { content: "\e603"; }

.icon-iconfontyoujian:before { content: "\e612"; }

.icon-pinglun:before { content: "\e70e"; }

.icon-shoucang1:before { content: "\e60d"; }

.icon-bianji:before { content: "\e609"; }

.icon-dianzan2:before { content: "\e600"; }

.icon-zhuanfa:before { content: "\e60b"; }

.icon-shoucang:before { content: "\e602"; }
a.a1 {
	display: inline-block;
	width: 13%;
	font-size: 15px;
	text-align: center;
}
a.btn.btn-primary,a.btn.btn-warning {
	width: 13%;
	font-size: 15px;
	display: inline-block;
}
span.label.label-primary {
	width: 11%;
	font-size: 12px;
	display: inline-block;
	line-height: 25px;
}
li.comment {
	border:6px solid #C7C7E2;
}
li.post {
	border:6px solid #E6E6F2;
	border-radius: 10px;
	background: #FCFCFC;
}
input#submit.btn.btn-primary {
	width: 20%;
	text-align: center;
}
div#con3.page-header {
	text-align: center;
}
div#con1.container {
	background: #E6E6F2;
	width: 65%;
	position: relative;
	min-height: 100%;
}
body,html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	background: #C7C7E2 url('liuxing.gif');
}
.login_bg {
	background: #CECEFF;
}
.background_register {
	background: #FFE4CA;
}
.background_registers {
	height: 100%;
	width: 100%;
	background: url('liuxing.gif') repeat center;
}
div.col-md-4 {
	width: 50%;
	left: 36%;
}
input#email.form-control {
	width: 65%;
}
input#username.form-control {
    width: 65%;
}
input#password.form-control {
	width: 65%;
}
input#password2.form-control {
	width: 65%;
}
input#email_or_username.form-control {
	width: 65%;
}
a.dropdown-toggle {
	display: block;
	min-width: 150px;
	min-height: 30px;
	text-align: center;
}
ul.dropdown-menu {
	
    min-width: 150px;
    min-height: 100px;
    font-size: 110%;
    text-align: center;
} 
.profile-thumbnail {
	position : absolute;
}
.profile-header {
	min-height : 260px;
	margin-left : 280px;
}
div.post-tabs {
	margin-top: 16px;
}
ul.posts {
	list-style-type: none;
	padding: 0px;
}
div.post-tabs ul.posts {
	margin: 0px;
	border-top: none;
}
ul.posts li.post {
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
	background-color: #f0f0f0;
}
div.post-date {
	float: right;
}
div.post.author {
	font-weight: bold;
}
div.post-thumbnail {
	position: absolute;
}
div.post-content {
	margin-left: 48px;
	min-height: 48px;
}
div.post-footer {
	text-align: right;
}
ul.comments {
	list-style-type: none;
	padding: 0px;
	margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
	margin-left: 32px;
	padding: 8px;
	border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
	border-top: 1px solid #e0e0e0;
}
ul.comment li.comment:hover {
	background-color: #f0f0f0;
}
div.comment-date {
	float: right;
}
div.comment-author {
	font-weight: bold;
}
div.comment-thumbnail {
	position: absolute;
}
div.comment-content {
	margin-left: 48px;
	min-height:48px;
}
div.comment-form {
	margin: 16px 0px 16px 32px;
}
div.pagination {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
}
div.flask-pagedown-preview {
	margin: 10px 0px 10px 0px;
	border: 1px solid #e0e0e0;
	padding: 4px;
}
div.flask-pagedown-preview h1 {
	font-size: 140%;
}
div.flask-pagedown-preview h2 {
	font-size: 130%;
}
div.flask-pagedown-preview h3 {
	font-size: 120%;
}
.post-body h1 {
	font-size: 140%;
}
.post-body h2 {
	font-size: 130%;
}
.post-body h3 {
	font-size: 120%;
}
.table.followers tr {
	border-bottom:1px solid #e0e0e0;
}
