<ul class="comments">
	{% for comment in comments %}
	<li class="comment">
		<div class="comment-thumbnail">
			<a href="{{ url_for('.user', username=comment.author.username) }}">
				{% if comment.author.avatar %}
				<img class="img-rounded profile-thumbnail" src="{{ comment.author.avatar }}" width="40" height="40">
				{% else %}
				<img class="img-rounded profile-thumbnail" src="{{ comment.author.gravatar(size=40) }}">
				{% endif %}
			</a>
		</div>
		<div class="comment-content">
			<div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
			<div class="comment-author"><a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
			<div class="comment-body">
				{% if comment.disabled %}
				<p><i>该评论已被屏蔽</i></p>
				{% endif %}
				{% if moderate or not comment.disabled %}
					{% if comment.body_html %}
						{{ comment.body_html | safe }}
					{% else %}
						{{ comment.body }}
					{% endif %}
				{% endif %}
			</div>
			<div class="comment-footer">
				{% if moderate %}
					{% if comment.disabled %}
					<a class="btn btn-default btn-xs" href="{{ url_for('.moderate_enable', id=comment.id,page=page) }}">显示</a>
					{% else %}
					<a class="btn btn-danger btn-xs" href="{{ url_for('.moderate_disable', id=comment.id,page=page) }}">屏蔽</a>
					{% endif %}
				{% else %}
				<div class="fixright">
					{% if comment not in current_user.like_comments.all() %}
					<a href="{{ url_for('.like_comment_toggle', id=comment.id) }}"><span class="iconfont icon-dianzan3">点赞{{ comment.likes }}<span></a>
					{% else %}
					<a href="{{ url_for('.like_comment_toggle', id=comment.id) }}"><span class="iconfont icon-dianzan1">点赞{{ comment.likes }}<span></a>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</li>
	{% endfor %}
</ul>
