{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<script type="text/JavaScript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='gotop.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='shield.js') }}"></script>
<script type="text/JavaScript" src="{{ url_for('static', filename='unblock.js') }}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle"
			 data-toggle="collapse" data-target=".navbar-collapse">
			     <span class="sr-only">Toggle navigation</span>
				 <span class="icon-bar"></span>
				 <span class="icon-bar"></span> 
				 <span class="icon-bar"></span>
			 </button>
			 <a class="navbar-brand" href="{{ url_for('main.index') }}">Nancy</a>
		 </div>
	     <div class="navbar-collapse collapse">
	         <ul class="nav navbar-nav">
			     <li><a href="{{ url_for('main.index') }}">首页</a></li>
				 {% if current_user.is_authenticated %}
				 <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
				 <form class="navbar-form navbar-left" style="display:inline;" action="{{ url_for('main.search') }}" method="post" name="search">
				 	{{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}<input type="submit" value="search">
				</form>
				{% endif %}
			 </ul>
			 <ul class="nav navbar-nav navbar-right">
			 	{% if current_user.can(Permission.MODERATE_COMMENTS) %}
				<li><a href="{{ url_for('main.moderate') }}">评论管理</a></li>
				{% endif %}
			 	{% if current_user.is_authenticated %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{% if current_user.avatar %}
						<img src="{{ current_user.avatar }}" width="18" height="18"> {{ current_user.username }}<b class="caret"></b>
						{% else %}
						<img src="{{ current_user.gravatar(size=18) }}"> {{ current_user.username }}<b class="caret"></b>
						{% endif %}
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
						<li><a href="{{ url_for('auth.change_email_request') }}">更换邮箱</a></li>
						<li><a href="{{ url_for('main.show_shield', username=current_user.username) }}">屏蔽设置</a></li>
						<li><a href="{{ url_for('auth.logout') }}">退&emsp;&emsp;出</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="{{ url_for('auth.login') }}">登录</a></li>
				<li><a href="{{ url_for('auth.register') }}">注册</a></li>
				{% endif %}
			 </ul>
		 </div>
	 </div>
</div>
{% endblock %}
 
{% block content %}
	<div class="container" id=con1>
		{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{message}}
			</div>
		{% endfor %}
		{% if current_user.is_authenticated %}
			<div class="left_control">
				<div class="left_nav">
					<br>
					<li><a href="{{ url_for('main.index') }}">首&emsp;&emsp;页</a></li>
					<hr style='background-color:#FCFCFC;height:5px;border:none;'>
					<li><a href="{{ url_for('main.show_collection', username=current_user.username) }}">我的收藏</a></li>
					<hr style='background-color:#FCFCFC;height:5px;border:none;'>
					<li><a href="{{ url_for('main.show_like', username=current_user.username) }}">我&ensp;的&ensp;赞</a></li>
					<hr style='background-color:#FCFCFC;height:5px;border:none;'>
					<li><a href="https://github.com/fangweiren/myflask">Github</a></li>
				</div>
			</div>
			<div class="right_control">
				<div class="right_nav">
					<br>
					<li><a href="{{ url_for('main.followers', username=current_user.username) }}">粉&emsp;&emsp;丝</a></li>
					<hr style='background-color:#FCFCFC;height:5px;border:none;'>
					<li><a href="{{ url_for('main.followed_by', username=current_user.username) }}">关&emsp;&emsp;注</a></li>
					<hr style='background-color:#FCFCFC;height:5px;border:none;'>
					<li><a href="{{ url_for('main.user', username=current_user.username) }}">微&emsp;&emsp;博</a></li>
					<hr style='background-color:#FCFCFC;height:5px;border:none;'>
					<li><a href="http://fangweiren843.blog.163.com/">网易博客</a></li>
					<div class="go-top"><a class="iconfont icon-fanhuidingbu"></a></div>
				</div>
			</div>
		{% endif %}

    {% block page_content %}{% endblock %}

	{% block footer %}
		<div class="container footer">
		    <hr>
			<p>Copyright by Nancy © 2017 | <a href="http://email.163.com/" target="_blank" class="iconfont icon-iconfontyoujian"> fangweire@163.com</a></p>
			<p>浙ICP备17032973号</p>
			<p><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a> | 
			   <a href="https://github.com/" target="_blank">Github</a> | 
			   <a href="https://segmentfault.com/" target="_blank">Segmentfault</a> | 
			   <a href="http://www.w3school.com.cn/index.html" target="_blank">W3school</a> | 
			   <a href="http://weibo.com/" target="_blank">新浪微博</a>
			</p>
			<br>
		</div>
		{% if current_user.is_authenticated %}
		<div class="left-footer">
			<p></p>
		</div>
		<div class="right-footer">
			<p></p>
		</div>
		{% endif %}
	{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang('zh-CN')}}
{% endblock %}
